/* -------------------------------------------------------------
- status panel theming
 ------------------------------------------------------------- */

#statuspanel-label {border-radius: 7px !important;}

#statuspanel {
&:not([hidden]) {
    max-width: calc(100% - 5px);
    position: absolute;
    bottom: 1vh !important;
    left: 1vw !important;
    border-radius: 7px !important;
    padding-top: 2em;
    pointer-events: none;  
}

#main-window:not([lwtheme="true"]) #statuspanel-label {
  @media (not (prefers-contrast)) and (not (-moz-platform: linux)) {
    & {
      background-color: var(--uc-ultima-background-iii) !important;
      border-color: rgba(15,15,15,0.5);
    }
  }
}
}

@media (-moz-bool-pref: "ultima.statuspanel.showonright"){
	#statuspanel {
		&:not([hidden]){
		max-width: 50% !important;
		/*display: flex !important;*/
		justify-self: right !important;
		padding-top: 0 !important;
		inset-inline: auto !important;
		min-width: unset !important;
		}
	}
}

@media (-moz-bool-pref: "ultima.statuspanel.hidden"){
	#statuspanel {
		&:not([hidden]){
		display: none !important;
		}
	}
}
